body {
  background-image: url('https://freedesignfile.com/upload/2016/12/Beautiful-pink-flower-background-HD-picture.jpg');
  background-repeat: no-repeat;
  background-origin: fixed;
  background-size: cover;
  padding: 25px 50px 75px 100px;
}
h1 {
  color: #732673;
  font-size: 50px;
}
input {
  width: 70%;
  max-width: 550px;
  height: 80px;
  border: 2px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 24px;

  background-color: transparent;
  background-position: 10px 10px;
  padding: 12px 20px 12px 20px;
  border-color: #c653c6;
  color: #391339;
}

input[type="text"]:focus {
  max-width: 400px;
}
@media only screen and (min-width: 601px) {
  #search {
    font-size: 48px;
  }
}

@media only screen and (min-width: 1001px) {
}
